{{ '{% extends "IllarraCoreBundle:Admin:layout.html.twig" %}' }}

{{ '{% import "IllarraCoreBundle:Admin:helper.html.twig" as helper %}' }}

{{ '{% trans_default_domain "illarra_admin" %}' }}

{{ "{% block content %}" }}
{% set hide_edit, hide_delete = true, true %}
<div class="row">
    <div class="large-12 columns">
        {% include 'views/others/record_actions.html.twig.twig' %}
        <hr class="dark" />
        <h3>{{ "{{ '"~ entity|lower ~".title.new'|trans }}" }}</h3>
    </div>
</div>
<div class="row">
    <div class="large-8 columns">
        {{ "{% include 'ChangeMeBundle:Admin/"~ entity ~":_form.html.twig'
            with {
                'action': path('"~ route_name_prefix ~"_create'),
                'method': 'POST',
                'form': form
            } only
        %}" }}
    </div>
</div>
{{ "{% endblock %}" }}
