{% extends "IllarraCoreBundle:Admin:layout.html.twig" %}
{% import "IllarraCoreBundle:Admin:helper.html.twig" as helper %}

{% block content %}

<style>
    table {
        border: 0;
        width: 100%;
    }
    table tbody tr {
        border-top: 1px solid #e5e5e5;
    }
    table thead,
    table tr:nth-of-type(even) {
        background: transparent;
    }
    table thead th:first-child {
        width: 1px;
    }
    table tbody tr td, table thead tr th {
        font-size: 1em;
        text-align: left;
        padding: 0.5em;
    }
    table tbody tr td {
        line-height: 1.2;
    }
    table tr .text-right .label {
        cursor: pointer;
        background-color: #fafafa;
        color: #626262;
        margin-left: 0.76923em;
        font-size: .9em;
        padding: 0.3em 0.6em;
    }
    table tr .text-right .label:hover {
        background-color: #4787ed;
        color: #fafafa;
    }
    table tbody tr:hover {
        background-color: #fafafa;
    }
</style>


<div class="row">
    <div class="large-12 columns">
        <div class="button-bar right hide-for-small">
            {{ helper.page_range(page, pages, entities_per_page, entities_count) }}
            <ul class="button-group radius">
                <li>{{ helper.page_previous_button(base_route ~'_index', page, pages) }}</li>
                <li>{{ helper.page_next_button(base_route ~'_index', page, pages) }}</li>
            </ul>
        </div>
        <div class="button-bar">
            <ul class="button-group radius">
                <li>{{ helper.action_select_button() }}</li>
            </ul>
            <ul class="button-group radius js-action-main">
                <li>{{ helper.action_new_button(path(base_route ~'_new')) }}</li>
            </ul>
            <ul class="button-group radius js-action-check" style="display:none">
                <li>{{ helper.action_delete_all_button() }}</li>
            </ul>
        </div>
        <hr />
        <h3>{{ ('admin.'~entity_label)|trans }} &#8250; {{ 'admin.list.title'|trans }}</h3>
    </div>
    {% if filter %}
        <div class="large-12 columns">
            <form method="get" action="{{ path(base_route ~'_index') }}">
                {{ form_rest(filter) }}
                <input type="submit" class="button" value="{{ 'admin.action.filter'|trans }}" /> {{ 'admin.action.or'|trans }} <a href="{{ path(base_route ~'_index') }}">{{ 'admin.action.clearFilter'|trans }}</a>
            </form>
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="large-12 columns">
        {% if entities.count %}
            <table>
                <thead>
                    <tr>
                        <th>{{ helper.render_check() }}</th>
                        {% for column in columns %}
                            {% if column in order_columns %}
                                {% if column == order_column %}
                                    {% if order_dir == 'ASC' %}
                                        {% set new_order_column = order_column %}
                                        {% set new_order_dir    = 'DESC' %}
                                    {% elseif order_dir == 'DESC' %}
                                        {% set new_order_column = '' %}
                                        {% set new_order_dir    = '' %}
                                    {% endif %}
                                {% else %}
                                    {% set new_order_column = column %}
                                    {% set new_order_dir    = 'ASC' %}
                                {% endif %}

                                <th>
                                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'order_column': new_order_column, 'order_dir': new_order_dir})) }}">
                                        {{ ('admin.label.'~column)|trans }}
                                        {% if column == order_column %}
                                            {{ order_dir }}
                                        {% endif %}
                                    </a>
                                </th>
                            {% else %}
                                <th>{{ ('admin.label.'~column)|trans }}</th>
                            {% endif %}
                        {% endfor %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        {% set values = list_mapper.values(entity) %}

                        <tr>
                            <td>{{ helper.render_check() }}</td>
                            {% for column in columns %}
                                <td>{{ values[column] }}</td>
                            {% endfor %}
                            <td class="text-right">
                                <a href="{{ path(base_route ~'_edit', { 'id': entity.id }) }}"
                                    class="secondary radius label">
                                    <i class="icon-edit"></i> {{ 'admin.action.edit'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel radius">
                <h5>Ez dago emaitzarik</h5>
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="button-bar show-for-small">
            <hr class="dark" />
            <ul class="button-group radius">
                <li>{{ helper.page_previous_button(base_route ~'_index', page, pages) }}</li>
                <li>{{ helper.page_next_button(base_route ~'_index', page, pages) }}</li>
            </ul>
            {{ helper.page_range(page, pages, entities_per_page, entities_count) }}
        </div>
    </div>
</div>
{% endblock %}
