{% extends "IllarraCoreBundle:Admin:layout.html.twig" %}
{% import "IllarraCoreBundle:Admin:helper.html.twig" as helper %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <div class="button-bar right">
            <span class="inline-hide-for-small">
                {{ helper.page_range(page, pages, entities_per_page, entities_count) }}
            </span>
            <ul class="button-group radius hide-for-small">
                <li>{{ helper.page_previous_button(base_route ~'_index', page, pages) }}</li>
                <li>{{ helper.page_next_button(base_route ~'_index', page, pages) }}</li>
            </ul>
            <ul class="button-group radius js-action-main">
                <li>{{ helper.action_new_button(path(base_route ~'_new')) }}</li>
            </ul>
        </div>
        <div class="button-bar">
            <!--<ul class="button-group radius">
                <li>{{ helper.action_select_button() }}</li>
            </ul>-->
            {% if filter %}
                <a href="#" class="t-filter left round compact secondary button filter-dropdown-button" data-dropdown="filter-dropdown"><i class="icon-search"></i></a>
                <div id="filter-dropdown" class="f-dropdown content medium" data-dropdown-content>
                    <form method="get" action="{{ path(base_route ~'_index') }}">
                        {{ form_rest(filter) }}
                        <input type="submit" class="button" value="{{ 'admin.action.search'|trans }}" />
                        {% if is_filtered %}
                            &nbsp;&nbsp;{{ 'admin.action.or'|trans }}&nbsp;&nbsp;
                            <a href="{{ path(base_route ~'_index') }}">
                                {{ 'admin.action.clearFilter'|trans|lower }}
                            </a>
                        {% endif %}
                    </form>
                </div>
            {% endif %}
            <ul class="button-group radius js-action-check" style="display:none">
                <li>{{ helper.action_delete_all_button() }}</li>
            </ul>
            <h4 class="admin-title">{{ ('admin.'~entity_label)|trans }} &#8250; {{ 'admin.list.title'|trans }}</h4>
        </div>
        <hr />
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        {% if entities.count %}
            {% if is_filtered %}
                <div data-alert class="radius alert-box filter-alert">
                    {{ 'admin.list.isFiltered'|trans }}
                    <a href="{{ path(base_route ~'_index') }}" class="close">&times;</a>
                </div>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>{{ helper.render_check() }}</th>
                        {% for column in columns %}
                            {% if column in order_columns %}
                                {% if column == order_column %}
                                    {% if order_dir == 'ASC' %}
                                        {% set new_order_column = order_column %}
                                        {% set new_order_dir    = 'DESC' %}
                                    {% elseif order_dir == 'DESC' %}
                                        {% set new_order_column = '' %}
                                        {% set new_order_dir    = '' %}
                                    {% endif %}
                                {% else %}
                                    {% set new_order_column = column %}
                                    {% set new_order_dir    = 'ASC' %}
                                {% endif %}

                                <th>
                                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'order_column': new_order_column, 'order_dir': new_order_dir})) }}">
                                        {{ ('admin.label.'~column)|trans }}
                                    </a>
                                    {% if column == order_column %}
                                        {% if order_dir == 'ASC' %}
                                            <i class="icon-sort-up"></i>
                                        {% else %}
                                            <i class="icon-sort-down"></i>
                                        {% endif %}
                                    {% else %}
                                        <i class="icon-sort color-text-lightest"></i>
                                    {% endif %}
                                </th>
                            {% else %}
                                <th>{{ ('admin.label.'~column)|trans }}</th>
                            {% endif %}
                        {% endfor %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        {% set values = list_mapper.values(entity) %}

                        <tr>
                            <td>{{ helper.render_check() }}</td>
                            {% for column in columns %}
                                <td>{{ values[column] }}</td>
                            {% endfor %}
                            <td class="text-right">
                                <a href="{{ path(base_route ~'_edit', { 'id': entity.id }) }}"
                                    class="secondary radius label">
                                    <i class="icon-edit"></i> {{ 'admin.action.edit'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel radius">
                <h5>Ez dago emaitzarik</h5>
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="button-bar show-for-small">
            <hr class="dark" />
            <ul class="button-group radius">
                <li>{{ helper.page_previous_button(base_route ~'_index', page, pages) }}</li>
                <li>{{ helper.page_next_button(base_route ~'_index', page, pages) }}</li>
            </ul>
            {{ helper.page_range(page, pages, entities_per_page, entities_count) }}
        </div>
    </div>
</div>
{% endblock %}
