
        <hr class="show-for-small" />
        <ul class="small no-bullet color-text-light">
            <li><i class="icon-key"></i> {{ "{{ entity.id }}" }}</li>
            <li><i class="icon-ok"></i> {{ "{{ 'label.createdAt'|trans }}: {{ entity.createdAt|date('format.datetime'|trans) }}" }}</li>
            <li><i class="icon-edit"></i> {{ "{{ 'label.updatedAt'|trans }}: {{ entity.updatedAt|date('format.datetime'|trans) }}" }}</li>
        </ul>
