{% extends 'form_div_layout.html.twig' %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans }}
            {%- if required %} <b class="color-alert">*</b>{%- endif -%}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block checkbox_row %}
{% spaceless %}
   <div style="margin-bottom: 1em;" class="checkbox-container">
        {{ form_widget(form) }} {{ form_label(form) }}
        {{ form_errors(form) }}
        {% if help is defined %}
            <p class="help">{{ help|raw }}</p>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock checkbox_row %}

{% block choice_widget %}
{% spaceless %}
    {% set placeholder = 'admin.chosen.placeholder.one'|trans %}
    {% if multiple %}
        {% set placeholder = 'admin.chosen.placeholder.multiple'|trans %}
    {% endif %}
    {% if expanded %}
        {% set chosen = '' %}
    {% else %}
        {% set chosen = 'js-chosen' %}
    {% endif %}
    {% set attr = attr|merge({
        'class': (attr.class|default('') ~ chosen)|trim,
        'data-placeholder': placeholder,
        'data-no_results_text': 'admin.chosen.placeholder.no_results'|trans
    }) %}
    {{ parent() }}
{% endspaceless %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        <div class="row collapse choice-expanded">
            {% for child in form %}
                <div class="large-12 columns">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            <div class="row">
                <div class="large-6 columns">
                    {{ form_widget(form.date) }}
                </div>
                <div class="large-6 columns">
                    {{ form_widget(form.time) }}
                </div>
            </div>
        </div>
        <div class="large-12 columns">
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            <div class="row">
                <div class="small-4 large-4 columns">{{ form_widget(form.year) }}</div>
                <div class="small-4 large-4 columns">{{ form_widget(form.month) }}</div>
                <div class="small-4 large-4 columns">{{ form_widget(form.day) }}</div>
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block money_widget %}
{% spaceless %}
    <div class="row collapse">
        <div class="small-9 large-10 columns">
          {{ block('form_widget_simple') }}
        </div>
        <div class="small-3 large-2 columns">
          <span class="postfix radius">{{ money_pattern|replace({'{{ widget }}': ''})|trim }}</span>
        </div>
    </div>
{% endspaceless %}
{% endblock money_widget %}

{% block percent_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <div class="row collapse">
        <div class="small-9 large-10 columns">
          {{ block('form_widget_simple') }}
        </div>
        <div class="small-3 large-2 columns">
          <span class="postfix radius">%</span>
        </div>
    </div>
{% endspaceless %}
{% endblock percent_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            <div class="row">
                <div class="small-4 large-4 columns">{{ form_widget(form.hour, { 'attr': { 'size': '1' } }) }}</div>
                {% if with_minutes %}<div class="small-4 large-4 columns end">{{ form_widget(form.minute, { 'attr': { 'size': '1' } }) }}</div>{% endif %}
                {% if with_seconds %}<div class="small-4 large-4 columns end">{{ form_widget(form.second, { 'attr': { 'size': '1' } }) }}</div>{% endif %}
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block gallery_row %}
{% spaceless %}
    {% import "IllarraCoreBundle:Admin:helper.html.twig" as helper %}

    <div class="section-container">
        {{ form_errors(form) }}
        <div class="section">
            <div class="hide" data-image-form-tpl data-prototype="{{
                ('<li data-image-form>'
                    ~ form_widget(form.vars.prototype)
                    ~ '<i class="icon-remove" data-image-delete></i>'
                    ~ '</li>'
                )|e }}">
            </div>
            <h5 class="title">
                <a href="#">
                    <i class="icon-section-indicator"></i> {{ 'admin.label.gallery'|trans }}
                </a>
            </h5>
            <div class="content">
                <ul class="small-block-grid-2 large-block-grid-4" data-images-section data-sortable>
                {% for image in form %}
                    <li data-image-form {{ helper.data_entity(image.vars.value) }}>
                        {{ form_widget(image.file, {'type': 'hidden'}) }}
                        {% if image.source.vars.value != '' %}
                            <img src="{{ image.source.vars.value|imagine_filter('square') }}" />
                        {% endif %}
                        <p>
                            {{ helper.render_sort_icon(image.vars.value) }}
                            {{ helper.render_is_featured_icon(image.vars.value) }}
                            {{ helper.render_is_visible_icon(image.vars.value) }}
                            ID: {{ image.id.vars.value }}
                            <a href="#" style="float:right;margin-right:3px;"><i class="icon-remove color-alert" data-image-delete></i></a>
                        </p>
                        <hr />
                        {% do image.setRendered %}
                    </li>
                {% endfor %}
                {% do form.setRendered %}
                </ul>
                <ul class="inline-list">
                    <li>
                        <a href="#" data-images-add-new>
                            <i class="icon-plus-sign"></i> {{ 'admin.gallery.action.add'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock gallery_row %}

{% block point_row %}
{% spaceless %}
    <div class="section-container">
        {{ form_errors(form) }}
        <div class="section">
            <h5 class="title">
                <a href="#">
                    <i class="icon-section-indicator"></i> {{ 'admin.label.point'|trans }}
                </a>
            </h5>
            <div id="{{ id }}_container" class="content map-content">
                <div class="row collapse">
                    <div class="small-9 columns">
                        <input type="text" id="{{ id }}_address" data-map-address />
                    </div>
                    <div class="small-3 columns">
                        <button id="{{ id }}_search" class="secondary postfix button" data-map-search>
                            {{ 'admin.point.action.search'|trans }}
                        </button>
                    </div>
                </div>
                <div id="{{ id }}_map_canvas" class="map-canvas" data-map></div>
                <div id="{{ id }}_error"></div>
                <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}data-map-point />
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block translations_row %}
{% spaceless %}
    <div>
        {{ form_errors(form) }}
        {% for translation in form %}
            <div class="section-container">
                <div class="section">
                    <h5 class="title">
                        <a href="#{{ translation.locale.vars.value }}">
                            <i class="icon-section-indicator"></i> {{ translation.locale.vars.value|upper }}
                        </a>
                    </h5>
                    <div class="content">
                        {{ form_rest(translation) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock %}
